<ngx-spinner 
  bdOpacity=0.9 
  bdColor="#333" 
  size="medium" 
  color="#fff" 
  type="ball-scale-multiple">
</ngx-spinner>

<div class="row mr-0" style="background:#f4dad8;">
  <div class="col-md-4">
    <a href="javascript:void()" (click)="reloadPage()" style="font-size: 20px;margin-top: 5px;color:#db1d12">
      <span class="fa fa-refresh"></span> {{submenuName}}
    </a>
  </div>
  <div class="col-md-4 text-center">
    <img *ngIf="organizationLogo != null && organizationLogo != '' " [src] = "organizationLogo" 
      style="width: 70px;height: 45px;"/>
      &nbsp; <label style="font-size: 20px;">{{organizationName}}</label>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="container-fluid">
  <tabset>
    <tab heading="Offine Training field" id="tab1" style="width: 1286px">
      <div class="row">
        <div class="col-md-3">
          <label>Training Name</label>
          <input type="text" class="form-control" [(ngModel)]="trainingName"/>
        </div>
        <div class="col-md-3">
          <label>Start Date</label>
          <input type="date" class="form-control" [(ngModel)]="startDate"/>
        </div>
        <div class="col-md-3">
          <label>End Date</label>
          <input type="date" class="form-control" [(ngModel)]="endDate"/>
        </div>
        <div class="col-md-3">
          <label>Total Time in Hours</label>
          <input type="text" class="form-control" [(ngModel)]="totalTimeInHours"/>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-3">
          <label>Trainers</label>
          <input type="text" class="form-control" [(ngModel)]="trainers"/>
        </div>
        <div class="col-md-3">
          <label>Venue</label>
          <input type="text" class="form-control" [(ngModel)]="venue"/>
        </div>
        <div class="col-md-3">
          <label>Competency</label>
          <input type="text" class="form-control" [(ngModel)]="competency"/>
        </div>
        <div class="col-md-3">
          <label>Facilitator</label>
          <input type="text" class="form-control" [(ngModel)]="facilitator"/>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-3">
          <label>Level</label>
          <input type="text" class="form-control" [(ngModel)]="level"/>
        </div>
        <div class="col-md-3">
          <label>Business Unit</label>
          <input type="text" class="form-control" [(ngModel)]="bu"/>
        </div>
        <div class="col-md-3">
          <label>Number of Participant Present</label>
          <input type="number" class="form-control" [(ngModel)]="numberOfParticipatePresent"/>
        </div>
        <div class="col-md-3">
          <label>Attachment</label>
          <input type="file" class="form-control" (change)="changeListener($event)" accept=".pdf"/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <label>Employee Id</label>
          <textarea class="form-control" [(ngModel)]="employeeId"  rows="5" placeholder="comma seperated employee id"
            style="resize: none"></textarea>
        </div>
      </div>
    
      <div class="row"  style="margin-top: 10px">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary hsil-red" (click)="submitOfflineTraining()">Submit</button>
        </div>
      </div>
    </tab>
    <tab heading="Offline Training Report" style="width: 1286px">
      <div class="row"  style="margin-top: 10px">
        <div class="col-md-2">
            <button [disabled]="noRecordFound" class="btn btn-primary hsil-red" (click)="exportToExcel()">Export</button>
        </div>
        <div class="col-md-10 text-right">  
          <a href="javascript:void(0)" (click)="getOfflineTrainingReport()"><img src="assets/img/rotate_ccw.png" /></a> 
        </div>
      </div>
      <div class="row" style="margin-top: 10px" *ngIf="noRecordFound">
        <div class="col-md-12">
          <h6 class="text-danger">No record found</h6>
        </div>
      </div>
      <table class="table table-bordered">
        <tr>
          <th>Employee Id</th>  <th>Employee name</th>
          <th>Training name</th> <th>Start date</th> <th>End date</th> <th>Total Time in hours</th> 
          <th>Trainers</th> <th>Venue</th> <th>Competency</th> <th>Facilitator</th> <th>Level</th> 
          <th>Business unit</th> <th>Number of Participant Present</th> <th>Attachment</th>
        </tr>
        <tr *ngFor="let wt of wrappedList">
          <td>{{wt.employeeId}}</td><td>{{wt.employeeName}}</td>
          <td>{{wt.trainingName}}</td> <td>{{wt.startDate | date:'dd-MM-yyyy'}}</td> <td>{{wt.endDate | date:'dd-MM-yyyy'}}</td> <td>{{wt.totalTimeInHours}}</td>
          <td>{{wt.trainers}}</td> <td>{{wt.venue}}</td> <td>{{wt.competency}}</td> <td>{{wt.facilitator}}</td> <td>{{wt.level}}</td>
          <td>{{wt.bu}}</td> <td>{{wt.numberOfParticipatePresent}}</td> <td> <a *ngIf="wt.documentUrl != ''" href="{{wt.documentUrl}}" target="_blank">View</a> </td>
        </tr>
      </table>
    </tab>
  </tabset>
  
</div>