<div style="color: #db1d12" style="margin: 10px 0px">
  <h3 class="text-center">Welcome to</h3>
</div>
<div class="text-center" style="margin: 30px 0px;">
  <img src="assets/img/logo.jpg" alt="My Ad Cubes" style="height: 108px;">
</div>
<div style="color: #db1d12">
  <h3 class="text-center">L-PAD</h3>
  <h4 class="text-center">Your Learning Buddy On The Go</h4>
  <video controls style="width:100%" controlsList="nodownload">
      <source src = "http://trinityapplab.in/Trinity_Product/CHECK_POINT_VIDEOS/status1.mp4">
  </video>
</div>